---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

This page is dedicated to two precious companions whom I met in Manila, Cheese and Oreo. They, along with other outdoor cats in BGC, are cared for by the volunteer group, Cats of BGC. 

This page is dedicated to two precious companions whom I met in Manila, Cheese and Oreo. They, along with other outdoor cats in BGC, are cared for by the volunteer group, Cats of BGC.

<h2>Cheese</h2>

<img src="{{ base_path }}/images/cheese9.png" alt="Cheese">
<img src="{{ base_path }}/images/cheese8.png" alt="Cheese">
<img src="{{ base_path }}/images/cheese7.png" alt="Cheese">
<img src="{{ base_path }}/images/cheese6.png" alt="Cheese">
<img src="{{ base_path }}/images/cheese5.png" alt="Cheese">
<img src="{{ base_path }}/images/cheese4.png" alt="Cheese">
<img src="{{ base_path }}/images/cheese3.png" alt="Cheese">
<img src="{{ base_path }}/images/cheese2.png" alt="Cheese">
<img src="{{ base_path }}/images/cheese1.png" alt="Cheese">

<h2>Oreo</h2>

<img src="{{ base_path }}/images/oreo1.png" alt="Oreo">
<img src="{{ base_path }}/images/oreo2.png" alt="Oreo">
<img src="{{ base_path }}/images/oreo3.png" alt="Oreo">
<img src="{{ base_path }}/images/oreo4.png" alt="Oreo">
<img src="{{ base_path }}/images/oreo5.png" alt="Oreo">
<img src="{{ base_path }}/images/oreo6.png" alt="Oreo">

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

