---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

## Publications and Works in Progress



* **“Measuring the Enforcement of Women’s Rights: Anchoring Vignettes to Measure De Facto Legal Implementation.”** With Ana Maria Tribin Uribe, Alev Gurbuz Cuneo, Hikaru Yamagishi, Dan Pemstein, and Brigitte Seim.



* Morimoto, Julian, and Amanda Coston. **[“Judging the Judges: Evaluating Pretrial Release Decisions with A Simple Nonparametric Approach.”](https://dl.acm.org/doi/abs/10.1145/3805689.3812209)** *The 2026 ACM Conference on Fairness, Accountability, and Transparency*, 2026.



* Morimoto, Julian, Jacob Goldin, and Daniel E. Ho. **[“Near-Exponential Savings for Population Mean Estimation with Active Learning.”](https://openreview.net/pdf/e0220333ddf922ed30947301cd51746c94081a20.pdf)** *The Thirty-ninth Annual Conference on Neural Information Processing Systems.*



* Morimoto, Julian. **[“The Effect of Sample Size and Missingness on Inference with Missing Data.”](https://doi.org/10.1080/03610926.2022.2152287)** *Communications in Statistics - Theory and Methods*, 2022, pp. 1–20.


<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



