---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<h2>Publications and Works in Progress</h2>

<ul>
  <li>
    <strong>“Measuring the Enforcement of Women’s Rights: Anchoring Vignettes to Measure De Facto Legal Implementation.”</strong>
    With Ana Maria Tribin Uribe, Alev Gurbuz Cuneo, Hikaru Yamagishi, Dan Pemstein, and Brigitte Seim.
  </li>

  <li>
    Morimoto, Julian, and Amanda Coston.
    <strong><a href="https://dl.acm.org/doi/abs/10.1145/3805689.3812209">“Judging the Judges: Evaluating Pretrial Release Decisions with A Simple Nonparametric Approach.”</a></strong>
    <em>The 2026 ACM Conference on Fairness, Accountability, and Transparency</em>, 2026.
  </li>

  <li>
    Morimoto, Julian, Jacob Goldin, and Daniel E. Ho.
    <strong><a href="https://openreview.net/pdf/e0220333ddf922ed30947301cd51746c94081a20.pdf">“Near-Exponential Savings for Population Mean Estimation with Active Learning.”</a></strong>
    <em>The Thirty-ninth Annual Conference on Neural Information Processing Systems.</em>
  </li>

  <li>
    Morimoto, Julian.
    <strong><a href="https://doi.org/10.1080/03610926.2022.2152287">“The Effect of Sample Size and Missingness on Inference with Missing Data.”</a></strong>
    <em>Communications in Statistics - Theory and Methods</em>, 2022, pp. 1–20.
  </li>
</ul>


<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



